body {
  background-color: #7d4cf7;
}
.app {
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

h2 {
  color: beige;
  font-size: 40px;
  padding-top: 50px;
}

/* button {
  position: absolute;
  width: 40px;
  color: #472699;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
}

.button-plus {
  height: 35px;
  width: 40px;
  position: absolute;
}

.trash-icon {
position: absolute;
width: 40px;
height: 30px;
border: none;
margin-left: 40px;
}

.pencil-button{
  position: absolute;
  width: 40px;
  height: 30px;
  border: none;
  margin-left: 0px;
}

.check-icon{
margin-left: 280px;
margin-top: 5px;

}

